@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Odor+Mean+Chey&display=swap');

@import './_variables';
@import './animations';

@import './App';
@import './Toast';
@import './Keyboard';
@import './Wordle';

:root {
  font-family: $font-family-regular;
  line-height: 1.5;
  font-weight: $font-weight-regular;

  color-scheme: light dark;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: $font-weight-regular;
  color: $white;
  text-decoration: none;
  position: relative;

  &:after {
    bottom: -12px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $blue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover {
    color: $blue;
  
    &:after {
      width: 100%; 
      left: 0;
    }
  }
}

p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
