@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Odor+Mean+Chey&display=swap');

@import './_variables';
@import './animations';

@import './App';
@import './Toast';
@import './Keyboard';
@import './Wordle';

:root {
  font-family: $font-family-regular;
  line-height: 1.5;
  font-weight: $font-weight-regular;

  color-scheme: light dark;
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-background-color);
}
