@import url('https://fonts.googleapis.com/css2?family=family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap&Bebas+Neue&display=swap&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

@import './_variables';

@import './App';
@import './Keyboard';
@import './Wordle';

:root {
  font-family: $font-family-regular;
  line-height: 1.5;
  font-weight: $font-weight-regular;

  color-scheme: light dark;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $font-family-regular;
}

a {
  font-weight: $font-weight-regular;
  color: $white;
  text-decoration: none;
  position: relative;

  &:after {
    bottom: -12px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $blue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover {
    color: $blue;
  
    &:after {
      width: 100%; 
      left: 0;
    }
  }
}

p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
