$teal-1: #6fffe8;
$teal-2: #5bc0bf;
$teal-3: #3a506c;
$teal-4: #1c2542;
$teal-5: #0b132c;

$body-color: $teal-2;
$black: #000000;
$dark-gray: #292c35;
$white: #ffffff;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-icon: 32px;
$font-size-subheading: 40px;
$font-size-heading: 80px;

$min-device-width: 564px;
$small-device-width: 854px;
$tablet-width: 1024px;
$tablet-large-width: 1440px;

$font-family-regular: "Montserrat", sans-serif;
$font-family-mono: "Kode Mono", "Courier Prime", monospace;
$font-family-block: "Bebas Neue", sans-serif;

$font-weight-1: 100;
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-6: 600;
$font-weight-7: 700;
$font-weight-8: 800;
$font-weight-9: 900;

$font-weight-lightest: $font-weight-1;
$font-weight-light: $font-weight-2;
$font-weight-regular: $font-weight-4;
$font-weight-medium: $font-weight-6;
$font-weight-heavy: $font-weight-7;
$font-weight-heaviest: $font-weight-9;