.App {
  background: var(--main-background-color);
  height: auto;
  width: 100vw;
  position: relative;
  z-index: $z-layer-body;

  --main-background-color: #{$white};
  --main-bd-color: #{$lightest-gray};
  --main-header-color: #{$black};
  --main-header-tgl-bg-color: #{$light-gray};
  --main-header-tgl-btn-ft-color: #{$black};
  --main-header-tgl-btn-bg-color: #{$white};
  --main-header-btn-color: #{$black};
  --toast-bg-color: #{$black};
  --toast-ft-color: #{$white};
  --tooltip-bg-color: #{$black};
  --tooltip-ft-color: #{$white};
  --dark-mode-icon-color: #{$sun-icon-color};
  --dark-mode-bg-color: #{$sun-bg-color};
  --contrast-bg-color: #{$default-contrast-bg-color};
  --contrast-icon-color: #{$default-contrast-icon-color};
  --contrast-icon-bg-color: #{$default-contrast-icon-bg-color};
  --revealed-color: #{$white};
  --cell-bd-color: #{$lightest-gray};
  --filled-ft-color: #{$black};
  --filled-bg-color: #{$white};
  --filled-bd-color: #{$light-gray};
  --correct-bg-color: #{$light-green};
  --correct-ft-color: #{$white};
  --partial-bg-color: #{$light-yellow};
  --partial-ft-color: #{$white};
  --wrong-bg-color: #{$gray};
  --wrong-ft-color: #{$white};
  --kb-key-ft-color: #{$black};
  --kb-key-bg-color: #{$lightest-gray};
  --kb-key-correct-bg-color: #{$light-green};
  --kb-key-correct-ft-color: #{$white};
  --kb-key-partial-bg-color: #{$light-yellow};
  --kb-key-partial-ft-color: #{$white};
  --kb-key-wrong-bg-color: #{$gray};
  --kb-key-wrong-ft-color: #{$black};

  &--dark {
    --main-background-color: #{$black};
    --main-bd-color: #{$gray};
    --main-header-color: #{$white};
    --main-header-tgl-bg-color: #{$white};
    --main-header-tgl-btn-ft-color: #{$white};
    --main-header-tgl-btn-bg-color: #{$black};
    --main-header-btn-color: #{$white};
    --toast-bg-color: #{$white};
    --toast-ft-color: #{$black};
    --tooltip-bg-color: #{$white};
    --tooltip-ft-color: #{$black};
    --dark-mode-icon-color: #{$moon-icon-color};
    --dark-mode-bg-color: #{$moon-bg-color};
    --revealed-color: #{$white};
    --cell-bd-color: #{$dark-gray};
    --filled-ft-color: #{$white};
    --filled-bg-color: #{$black};
    --filled-bd-color: #{$gray};
    --correct-bg-color: #{$green};
    --correct-ft-color: #{$white};
    --partial-bg-color: #{$yellow};
    --partial-ft-color: #{$white};
    --wrong-bg-color: #{$dark-gray};
    --wrong-ft-color: #{$white};
    --kb-key-ft-color: #{$white};
    --kb-key-bg-color: #{$gray};
    --kb-key-correct-bg-color: #{$green};
    --kb-key-correct-ft-color: #{$white};
    --kb-key-partial-bg-color: #{$yellow};
    --kb-key-partial-ft-color: #{$white};
    --kb-key-wrong-bg-color: #{$dark-gray};
    --kb-key-wrong-ft-color: #{$white};
  }

  &--high-contrast {
    --contrast-bg-color: #{$high-contrast-bg-color};
    --contrast-icon-color: #{$high-contrast-icon-color};
    --contrast-icon-bg-color: #{$high-contrast-icon-bg-color};
    --correct-bg-color: #{$orange};
    --correct-ft-color: #{$black};
    --partial-bg-color: #{$blue};
    --partial-ft-color: #{$black};
    --kb-key-correct-bg-color: #{$orange};
    --kb-key-correct-ft-color: #{$black};
    --kb-key-partial-bg-color: #{$blue};
    --kb-key-partial-ft-color: #{$black};
    --kb-key-wrong-ft-color: #{$white};
  }
}
