
.Help {
	min-width: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__heading {
		margin-top: 16px;
		font-family: $font-family-block;
		font-size: 32px;
		color: var(--modal-ft-color);
	}

	&__body {
		display: flex;
		width: 100%;
		margin: 24px 0;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		color: var(--modal-ft-color);

		&-heading {
			text-transform: uppercase;
			font-weight: $font-weight-heavy;
			color: var(--modal-ft-color);
		}
	}

  &__footer {
		color: var(--modal-ft-color);
		margin-top: 24px;
		font-size: $font-size-xs;
	}
}

@media screen and (max-width: $min-device-width) {
	.Help {
		width: calc(100vw - 100px);

		&__heading {
			margin-top: 0;
			font-size: $font-size-xxxl;
		}

		&__body {
			margin: 8px 0;
		}
	}
}
