.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;

  &__row {
    display: flex;
    width: 100%;
  }

  &__key {
    font-weight: $font-weight-medium;
    font-size: 20px;
    height: 60px;
    flex: 1;
    margin: 2px;
    border: 0;
    border-radius: 4px;
    background: $gray;
    color: $white;

    &--correct {
      background: $green;
      transition: all 0.3s ease;
    }

    &--partial {
      background: $yellow;
      transition: all 0.3s ease;
    }

    &--wrong {
      background: $dark-gray;
      transition: all 0.1s ease;
    }

    &--enter {
      flex: 1.5;
      font-size: 12px;
    }

    &--backspace {
      flex: 1.5;
    }

    &--spacer {
      flex: 0.5;
    }
  }
}