.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;

  &__row {
    display: flex;
    width: 100%;
  }

  &__key {
    font-size: 20px;
    font-weight: $font-weight-heavy;
    height: 60px;
    flex: 1;
    margin: 2px;
    border: 0;
    border-radius: 4px;
    background: var(--kb-key-bg-color);
    color: var(--kb-key-ft-color);
    transition: all 0.3s ease;

    &--correct {
      background: var(--kb-key-correct-bg-color);
      color: var(--kb-key-correct-ft-color);
    }

    &--partial {
      background: var(--kb-key-partial-bg-color);
      color: var(--kb-key-partial-ft-color);
    }

    &--wrong {
      background: var(--kb-key-wrong-bg-color);
      color: var(--kb-key-wrong-ft-color);
    }

    &--enter {
      flex: 1.5;
      font-size: 12px;
    }

    &--backspace {
      flex: 1.5;
    }

    &--spacer {
      flex: 0.5;
    }
  }
}


@media screen and (max-width: $small-device-width) {
  .Keyboard {
    width: 90vw;
  } 
}

@media screen and (max-width: $min-device-width) {
  .Keyboard {
    width: 100vw;

    &__key {
      height: 50px;
      font-size: $font-size-md;

      &--enter {
        font-size: $font-size-xxs;
      }
    }
  } 
}