.Wordle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;

  &__header {
    height: 50px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      height: 600px;

      &-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        &--shake {
          animation: shake 0.7s ease forwards;
        }
      }

      &-cell {
        width: 60px;
        height: 60px;
        border-radius: 0;
        border: 2px solid $dark-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        transform: rotateX(0deg);

        &--filled {
          position: relative;
          color: $white;
          border: 2px solid $gray;
          animation: pop 0.1s ease-in;
        }

        &--submitted {
          animation: flip 0.7s ease-in forwards;
          border: 2px solid $gray;
        }

        &--bounce {
          background-color: var(--bg-color);
          border-color: var(--bd-color);
          animation: bounce 1s ease forwards;
        }

        &--correct {
          --bg-color: #{$green};
          --bd-color: #{$green};
        }

        &--partial {
          --bg-color: #{$yellow};
          --bd-color: #{$yellow};
        }

        &--wrong {
          --bg-color: #{$dark-gray};
          --bd-color: #{$dark-gray};
        }
      }
    }
  }
}
