.Wordle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;

  &__header {
    height: 50px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);

    &-grid {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
      }

      &-cell {
        width: 60px;
        height: 60px;
        border-radius: 0;
        border: 2px solid darkgray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: $font-weight-medium;
        text-transform: uppercase;

        &--filled {
          position: relative;
          color: white;
          border: 2px solid white;
          animation: pop 0.1s ease;
        }

        &--full-correct {
          background: green;
          color: white;
        }

        &--half-correct {
          background: orange;
          color: white;
        }

        &--not-correct {
          background: gray;
          border-color: gray;
          color: black;
        }
      }
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}